@font-face {
    font-family: 'roboto';
    src: url('Fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt serif';
    src: url('Fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
