body {
  margin: 0;
}
.wrapper {
  margin: 0px auto;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  padding: 41px 12px 166px 4px;
}

.logo {
    width: 190px;
    height: 32px;
    background: url('img/logo.svg');
  }

.menu {
  display: flex;
  align-items: center;
}


.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_activ::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover{
  opacity: 0.5;
}

.menu__item:hover:after,.menu__item_activ:after{
  opacity: 1;
  width: 100%;
}

.main{
  padding: 76px 745px 110px 0px;
  background: right no-repeat url('img/mainimg.svg');
  background-position: top 4px left 762px;

}

.main__title{
  margin: 0 50px 35px 0px;
  padding: 0px;
  font: bold 66px/88px 'pt serif', arial, helvetica, sans-serif;
}

.main__subtitle{
  padding: 0px 340px 22px 1px;
  font: 22px/25px Roboto, arial, helvetica, sans-serif;
}

.main__button{
  display: inline-block;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  padding: 18px 30px 18px 25px;
  color:#fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  animation: main__button-animation_pulse 2s infinite;
}

.main__title-text_highlight{
  background: #ECF3FF;
}

.main__button-animation_pulse:hover {
  animation: none;
}

@keyframes main__button-animation_pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 191, 255, 0);
  }
  70% {
    box-shadow: 0 0 0 12px rgb(0, 191, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(0, 191, 255, 0);
  }
}


@media (max-width: 1920px){

  .wrapper{
    width: 80%;

}

  .hamburger-menu{
    display: none;
  }

  .main{
    background-size: 50%;
  }

@media (max-width: 1600px){

  .header{
  padding: 41px 12px 100px 4px;
}

  .main__subtitle{
    padding: 0px 100px 22px 1px;
  }

  .main{
    padding: 76px 650px 110px 0px;
    background-position: top 5px left 620px;
  }

  @media (max-width: 1536px){

    .hamburger-menu{
      display: none;
    }

    .header{
      padding: 40px 124px 100px 105px;
    }

    .main{
     padding: 75px 450px 100px 0;
     background-size: 45%;
     background-position: top 46px left 680px;
    }

    .main__title{
      font: bold 59px/76px 'pt serif', arial, helvetica, sans-serif;
      padding: 20px 70px 0px 0px;
      margin: 0px 85px 33px;
    }

    .main__subtitle{
     font: 20px/26px Roboto, arial, helvetica, sans-serif;
     margin: 0 290px 38px 87px;
     padding: 0px;
   }

     .main__button{
       font: 18px/21px Roboto, arial, helvetica, sans-serif;
       padding: 18px 30px 18px 25px;
       margin: 0px 85px;
    }
  }

@media (max-width: 1366px){

  .hamburger-menu{
    display: none;
  }

  .wrapper{
    margin: 0px auto;
    width: 75%;
  }

  .header{
    margin: 42px 53px 47px 49px;
    padding: 0px;
  }

    .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main{
   padding: 78px 450px 65px 48px;
   background-size: 50%;
   background-position: top 75px left 463px;
  }

  .main__title{
    font: bold 50px/65px 'pt serif', arial, helvetica, sans-serif;
    padding: 15px 0px 0px;
    margin: 0px 0px 40px;
  }

  .main__subtitle{
   font: 18px/21px Roboto, arial, helvetica, sans-serif;
   margin: 0 131px 40px 0px;
  }

  .main__button{
    font: 500 14px/16px Roboto, aria, helvetica, sans-serif;
    padding: 14px 21px 13px 18px;
    margin: 0;

  }
}

@media (max-width: 1200px){
  .wrapper {
    width: 87%;
  }
}


}
@media (max-width: 1024px){

  .wrapper {
    width: 100%;
}

  .hamburger-menu{
    display: none;
  }

  .header{
    margin: 42px 47px 124px 46px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main{
   background-size: 50%;
   background-position: top 0px left 465px;
   padding: 0 440px 55px 0;
  }

  .main__title{
    font: bold 50px/66px 'pt serif', arial, helvetica, sans-serif;
    padding: 12px 0px 0px;
    margin: 0px 0px 40px 45px;
  }

  .main__subtitle{
   font: 18px/21px Roboto, arial, helvetica, sans-serif;
   margin: 0px 160px 43px 47px;
   padding: 0;
  }

  .main__button{
    font: 500 14px/16px Roboto, aria, helvetica, sans-serif;
    padding: 13px 21px 14px 21px;
    margin: 0px 44px;
  }
}

@media (max-width: 945px){
  .main{
    background-size: 40%;
    background-position: top 0px left 420px;
  }
  .main__title{
    font: bold 35px/42px 'pt serif', arial, helvetica, sans-serif;
    margin: 0px 42px 40px;
  }
  .main__subtitle{
   font: 16px/20px Roboto, arial, helvetica, sans-serif;
   margin: 0px 100px 43px 45px;
  }
  .main__button{
    margin: 0px 45px;
}


@media (max-width: 768px) {

  .wrapper{
    margin: 0px auto;
    width: 80%;
  }

  .logo {
      display: none;
    }

 .menu {
  display: none;
 }

 .hamburger-menu{
   display: initial;
 }

 .header{
  margin: 0px;
  padding: 70px 0px 100px;
  background: left no-repeat url('img/logo_no_text.svg');
  background-size: 70px;
 }

 .main{
  text-align: center;
  padding: 0px;
  background-size: 90%;
  background-position: top 0px center;
 }
 .main__title{
   font: bold 40px/50px 'pt serif', arial, helvetica, sans-serif;
   padding: 500px 40px 0px 40px;
   margin: 0px 80px 32px 80px;
 }
 .main__subtitle{
  font: 16px/19px Roboto, arial, helvetica, sans-serif;
  margin: 0px 150px 40px 150px;
 }
 .main__button{
   font: 500 14px/16px Roboto, aria, helvetica, sans-serif;
   padding: 15px 23px 12px 23px;
   margin: 0px 130px 0px 130px;
 }

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 70px;
  left: 645px;
  width: 50px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0056EC;
}
.menu__btn > span::before {
  content: '';
  top: -15px;
}
.menu__btn > span::after {
  content: '';
  top: 15px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 372px;
  height: 100%;
  margin: 0;
  padding: 174px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 22px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

@media (max-width: 640px) {

 .menu__btn {
   top: 70px;
   left: 550px;
   width: 40px;
 }

 .menu__btn > span::before {
   top: -14px;
 }
 .menu__btn > span::after {
   top: 14px;
 }

 .menu__box {
   top: 0;
   left: -100%;
   width: 640px;
   height: 100%;
   margin: 0;
   padding: 100px 0;
 }

 .menu__item {
   padding: 20px 24px;
   font-size: 30px;
 }

 .main{
  background-size: 100%;
 }

 .main__title{
   font: bold 35px/45px 'pt serif', arial, helvetica, sans-serif;
   padding: 435px 0px 0px 0px;
   margin: 0px 100px 0px 100px;
 }
 .main__subtitle{
  font: 18px/22px Roboto, arial, helvetica, sans-serif;
  padding: 0px 55px;
  margin: 20px 40px 15px 40px;
 }
 .main__button{
   font: 500 11px/13px Roboto, arial, helvetica, sans-serif;
   padding: 15px 30px 18px 30px;
   margin: 30px 100px 0px 100px;
 }
}

@media (max-width: 590px) {

 .menu__btn {
   top:70px;
   left: 80%;
 }

 .menu__btn > span::before {
   top: -12px;
 }
 .menu__btn > span::after {
   top: 12px;
 }

 .menu__box {
   top: 0;
   left: -100%;
   width: 500px;
   height: 100%;
   margin: 0;
   padding: 100px 0;
 }

 .menu__item {
   padding: 20px 24px;
   font-size: 30px;
 }

 .main{
    padding: 290px 0px 0px;
 }

 .main__title{
   font: bold 30px/40px 'pt serif', arial, helvetica, sans-serif;
   padding: 100px 20px 0px 20px;
   margin: 0px 40px 30px 40px;
 }
 .main__subtitle{
  font: 16px/18px Roboto, arial, helvetica, sans-serif;
  padding: 0px 30px;
  margin: 12px 40px 35px;
 }
 .main__button{
   font: 500 11px/13px Roboto, arial, helvetica, sans-serif;
   padding: 12px 10px 18px 10px;
   margin: 0px 63px 0px;
 }
}

@media (max-width: 375px) {

  .wrapper{
    margin: 0px auto;
    width: 88%;
  }

 .header{
  padding: 0px 0px 66px;
  background-size: 36px;
  margin: 0px;
 }

 .menu__btn {
   top: 15px;
   left: 326px;
   width: 24px;
   height: 51px;
 }

 .menu__btn > span::before {
   top: -7px;
 }
 .menu__btn > span::after {
   top: 7px;
 }

 .menu__box {
   top: 0;
   left: -100%;
   width: 375px;
   height: 100%;
   margin: 0;
   padding: 176px 0;
 }

 .menu__item {
   padding: 22px 24px;
   font-size: 30px;
 }

 .main{
  background-size: 85%;
  padding: 205px 0px 0px;
 }

 .main__title{
   font: bold 30px/39px 'pt serif', arial, helvetica, sans-serif;
   padding: 58px 0px 0px;
   margin: 0px;
 }
 .main__subtitle{
  font: 16px/18px Roboto, arial, helvetica, sans-serif;
  padding: 0px;
  margin: 32px 36px 30px 43px;
 }
 .main__button{
   font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
   padding: 12px 23px 18px 17px;
   margin: 0px 46px 0px;
 }
