body {
  margin: 0;
}
.wrapper {
  margin: 0px 192px;
  width: 100%;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  padding: 42px 396px 166px 5px;
}

.logo {
    width: 190px;
    height: 32px;
    background: url('img/logo.svg');
  }

.menu {
  display: flex;
  align-items: center;
}


.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_activ::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover{
  opacity: 0.5;
}

.menu__item:hover:after,.menu__item_activ:after{
  opacity: 1;
  width: 100%;
}

.main{
  padding: 75px 900px 100px 0;
  background: right no-repeat url('img/mainimg.svg');
  background-position: top 0px left 760px;

}

.main__title{
  margin: 0 100px 35px 2px;
  padding: 0px 250px 0px 0px;
  font: bold 66px/87px 'pt serif', arial, helvetica, sans-serif;
}

.main__subtitle{
  padding: 0px 537px 22px 1px;
  font: 22px/26px Roboto, arial, helvetica, sans-serif;
}

.main__button{
  display: inline-block;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  padding: 18px 30px 18px 25px;
  color:#fff;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  animation: main__button-animation_pulse 2s infinite;
}

.main__title-text_highlight{
  background: #ECF3FF;
}

.main__button-animation_pulse:hover {
  animation: none;
}

@keyframes main__button-animation_pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 191, 255, 0);
  }
  70% {
    box-shadow: 0 0 0 20px rgb(0, 191, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(0, 191, 255, 0);
  }
}


@media (max-width: 1920px){

  .hamburger-menu{
    display: none;
  }

  .main{
    padding: 76px 900px 110px 0;
    background: right no-repeat url('img/mainimg.svg');
    background-position: top 0px left 762px;
    background-size: 40%;
  }

@media (max-width: 1366px){

  .hamburger-menu{
    display: none;
  }

  .wrapper{
    margin: 0px 220px;
  }

  .header{
    margin: 0px 0px 7px 0px;
  }

   .menu{
     margin: 10px 170px;

}
  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main{
   padding: 75px 50% 100px 0;
   background-size: 47%;
   background-position: top 70px left 413px;
  }

  .main__title{
    font: bold 50px/65px 'pt serif', arial, helvetica, sans-serif;
    padding: 15px 0px 0px;
    margin: 0px 0px 40px;
  }

  .main__subtitle{
   font: 18px/21px Roboto, arial, helvetica, sans-serif;
   margin: 0 160px 38px 0px;
  }

  .main__button{
    font: 500 14px/16px Roboto, aria, helvetica, sans-serif;
    padding: 18px 21px 14px 16px;

  }
}

@media (max-width: 1024px){

  .body {
  height: 100%;
}

  .hamburger-menu{
    display: none;
  }

  .wrapper{
    margin: 0px 47px;
    width: 91%;
  }

  .header{
    margin: 0px 0px 80px 0px;
  }

   .menu{
     margin: 10px 0px;
}

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main{
   background-size: 55%;
   background-position: top 0px left 418px;
   padding: 0 45% 55px 0;
  }

  .main__title{
    font: bold 50px/66px 'pt serif', arial, helvetica, sans-serif;
    padding: 15px 0px 0px;
    margin: 0px 0px 40px 0px;
  }

  .main__subtitle{
   font: 18px/21px Roboto, arial, helvetica, sans-serif;
   margin: 0px 30px 40px 0px;
  }

  .main__button{
    font: 500 14px/16px Roboto, aria, helvetica, sans-serif;
    padding: 13px 21px 14px 16px;

  }
}

@media (max-width: 768px) {

  .wrapper{
    margin-left: 24px;
  }

  .logo {
      display: none;
    }

 .menu {
  display: none;
 }

 .hamburger-menu{
   display: initial;
 }

 .header{
  margin: 0px;
  padding: 29px 0;
  background: left no-repeat url('img/logo_no_text.svg');
 }

 .main{
  text-align: center;
  padding: 244px 0px 0px;
  background-size: 84%;
  background-position: top 7px left 25px ;
 }
 .main__title{
   font: bold 30px/40px 'pt serif', arial, helvetica, sans-serif;
   padding: 15px 44px 0px 49px;
   margin: 7px 3px 32px 0px;
 }
 .main__subtitle{
  font: 16px/19px Roboto, arial, helvetica, sans-serif;
  margin: 0 44px 25px 45px;
 }
 .main__button{
   font: 500 14px/16px Roboto, aria, helvetica, sans-serif;
   padding: 15px 23px 12px 17px;
   margin: 0px 63px 0px 56px;
 }

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 26px;
  left: 326px;
  width: 24px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0056EC;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 372px;
  height: 100%;
  margin: 0;
  padding: 174px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 22px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

@media (max-width: 750px) {

  .wrapper{
    margin-left: 24px;
  }

  .logo {
      display: none;
    }

 .menu {
  display: none;
 }

 .hamburger-menu{
   display: initial;
 }

 .header{
  margin: 0px 20px;
  padding: 74px 0;
  background: left no-repeat url('img/logo_no_text.svg');
  background-size: 79px;
 }

 .menu__btn {
   display: flex;
   align-items: center;
   position: fixed;
   top: 48px;
   left: 652px;
   width: 50px;
   height: 66px;
   cursor: pointer;
   z-index: 1;
 }

 .menu__btn > span::before {
   content: '';
   top: -14px;
 }
 .menu__btn > span::after {
   content: '';
   top: 14px;
 }

 .menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;
   width: 750px;
   height: 100%;
   margin: 0;
   padding: 353px 0;
   list-style: none;
   text-align: center;
   background-color: #FFFFFF;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
 }

 .menu__item {
   display: block;
   padding: 51px 24px;
   color: #333;
   font-family: 'Roboto', sans-serif;
   font-size: 59px;
   font-weight: 600;
   text-decoration: none;
 }

 .main{
  text-align: center;
  padding: 244px 0px 0px;
  background-size: 82%;
  background-position: top 7px left 71px ;
 }
 .main__title{
   font: bold 60px/80px 'pt serif', arial, helvetica, sans-serif;
   padding: 280px 15px 0px 49px;
   margin: 0px;
 }
 .main__subtitle{
  font: 32px/37px Roboto, arial, helvetica, sans-serif;
  padding: 64px 87px 54px 114px;
  margin: 0px;
 }
 .main__button{
   font: 500 26px/11px Roboto, aria, helvetica, sans-serif;
   padding: 38px 50px 36px 50px;
   margin: 0px 30px 0px 33px;
 }

}
